[submodule "packages/ui"]
	path = packages/ui
	url = git@pushcorn.github.com:pushcorn/ui.git
[submodule "packages/postgresql"]
	path = packages/postgresql
	url = git@pushcorn.github.com:pushcorn/postgresql.git
[submodule "packages/http"]
	path = packages/http
	url = git@pushcorn.github.com:pushcorn/http.git
[submodule "packages/cron"]
	path = packages/cron
	url = git@pushcorn.github.com:pushcorn/cron.git
